<section class="mainbar" data-ng-init="vm.setFormFields()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      New Condition
    </div>
    <div class="panel-body">

      <form role="form" data-ng-submit="vm.create()" novalidate>

        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" type="text" class="form-control input-sm" placeholder="Type for instant results"
                 ng-model="resultOpts.term" typeahead="result.label for result in vm.getMatches($viewValue)"
                 typeahead-on-select="vm.onLiveSelect($item, $model, $label)" typeahead-min-length="1" required>
        </div>
        <div class="form-group">
          <label for="state">Id:</label>
          <input type="text" class="form-control" id="id" ng-model="vm.condition.id" disabled>
        </div>
        <div class="form-group">
          <label for="state">State:</label>
          <input type="text" class="form-control" id="state" ng-model="vm.condition.state">
        </div>
        <div class="form-group">
          <label for="conditionAge">Condition Age:</label>
          <input type="text" class="form-control" id="conditionAge" ng-model="vm.condition.conditionAge">
        </div>
        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Save
            </button>
            <a class="btn btn-danger" href="/condition">
              <i class="glyphicon glyphicon-remove"></i> Cancel
            </a>
        </div>
        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>

    </div>
  </div>

</section>
