<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Condition List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/condition/create">
          <i class="glyphicon glyphicon-open"></i> New Condition
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="condition in $data">
              <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{condition.name}}</td>
              <td data-title="'State'" sortable="'state'" filter="{'state': 'text'}">{{condition.state}}</td>
              <td data-title="'Condition Age'" sortable="'conditionAge'" filter="{'conditionAge': 'text'}">{{condition.conditionAge}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/condition/{{condition.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/condition/{{condition.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(condition)" item="condition">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
