<section class="mainbar" data-ng-init="vm.toViewCondition()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Condition View
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.condition" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/condition/{{vm.condition.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.condition">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/condition">
          <i class="glyphicon glyphicon-list"></i> List Conditions
        </a>
      </div>

    </div>
  </div>

</section>
