<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Clinicalcentre List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/clinicalcentre/create">
          <i class="glyphicon glyphicon-open"></i> New Clinicalcentre
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="clinicalcentre in $data">
              <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{clinicalcentre.name}}</td>
              <td data-title="'Address Line 1'" sortable="'addressLine1'" filter="{'addressLine1': 'text'}">{{clinicalcentre.addressLine1}}</td>
              <td data-title="'Address Line 2'" sortable="'addressLine2'" filter="{'addressLine2': 'text'}">{{clinicalcentre.addressLine2}}</td>
              <td data-title="'Postcode'" sortable="'postCode'" filter="{'postCode': 'text'}">{{clinicalcentre.postCode}}</td>
              <td data-title="'Opening Times'" sortable="'openingTimes'" filter="{'openingTimes': 'text'}">{{clinicalcentre.openingTimes}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/clinicalcentre/{{clinicalcentre.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/clinicalcentre/{{clinicalcentre.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(clinicalcentre)" item="clinicalcentre">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
