<section class="mainbar" data-ng-init="vm.toViewClinicalcentre()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Clinicalcentre View
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.clinicalcentre" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/clinicalcentre/{{vm.clinicalcentre.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.clinicalcentre">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/clinicalcentre">
          <i class="glyphicon glyphicon-list"></i> List Clinicalcentres
        </a>
      </div>

    </div>
  </div>

</section>
